header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  color: black;
}

.menu {
  margin-top: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  padding: 1rem;
  color: black;
  background-color: grey;
}

button.selected {
  background-color: blue;
}