.game{
  width: 100%;
  height: 100%;
}
.game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

  .title{
    margin: 0 auto;
    font-size: 3rem;
  }

.match{
  opacity: 0;
  cursor: initial;
}

.buttons{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

button{
  border-radius: 4px;
  width: 90px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border: none;
  transform: scale(1);
  transition: all 300ms ease;
}
button:hover{
  background-color: #84DCCF;
  box-shadow: -1px 1px 8px 0px gray;
  transform: scale(1.06);
}

.final-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  color: #000;
  margin-top: 2rem;
  padding: 1rem;
}

.final-message__title{
  font-size: 3rem;
}

.timer-casual{
  animation-name: timer;
  animation-duration: 35s;
  animation-timing-function: linear;
  background-color: #C0392B;
  width: 100%;
  height: 10px;
  top: 0;
  position: absolute;
  position: fixed;
}

.timer-hard{
  animation-name: timer;
  animation-duration: 90s;
  animation-timing-function: linear;
  background-color: #C0392B;
  width: 100%;
  height: 10px;
  top: 0;
  position: absolute;
  position: fixed;
  z-index: 100;
}

@keyframes timer {
  0%{
    clip-path: inset(0 100% 56% 0);
  }
  
  100%{
    clip-path: inset(0 0 56% 0);
  }
}