 
.game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  margin: 0 auto;
  font-size: 3rem;
}

.match{
  opacity: 0;
  cursor: initial;
}


